<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input #input (keyup)="buscar( input.value )" type="text" class="form-control" placeholder="Buscar asignaciones...">

            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="cargando">

    <div class="col-sm-12">

        <div class="alert alert-warning text-center">
            <strong>Cargando</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br>
            <span>Espere por favor</span>
        </div>
    </div>
</div>


<div class="row animated fadeIn" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="text-right">
                    <button [routerLink]="['/asignacion','nueva']" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
                  <i class="fa fa-plus"></i> 
                  Crear Asignacion
                </button>
                </div>

                <h3 class="card-title">Asignaciones registradas ( <small> {{ _asignacionService.total }} </small> )</h3>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>FechaHora</th>
                            <th>Vehiculo</th>
                            <th>Operario</th>
                            <th>Disponible</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let asignacion of asignaciones">
                            <td>
                                {{ asignacion.fechaHora | date:'medium'}}
                            </td>
                            <td>
                                {{ asignacion.vehiculo.interno }}
                            </td>
                            <td>
                                {{ asignacion.operario.nombre }}
                            </td>
                            <td>
                                {{ asignacion.disponible }}
                            </td>
                            <td>
                                <button [routerLink]="['/asignacion', asignacion._id ]" class="btn btn-primary">
                              <i class="fa fa-edit"></i>
                            </button>

                                <button (click)="borrar( asignacion )" class="btn btn-danger">
                              <i class="fa fa-trash-o"></i>
                            </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <button *ngIf="mostrar.anterior" (click)="cambiarDesde(-5)" class="btn btn-secondary">
                  Anteriores
              </button>

                <button *ngIf="mostrar.siguiente" (click)="cambiarDesde(5)" class="btn btn-secondary">
                  Siguientes
              </button>

            </div>
        </div>
    </div>
</div>