<div class="row animated fadeIn" *ngIf="cargando">
    <div class="col-sm-12">
        <div class="alert alert-warning text-center">
            <strong>Cargando</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br>
            <span>Espere por favor</span>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="!cargando">
    <div class="col-md-4">
        <div class="card card-body">
            <h3 class="box-title m-b-0">Ruta: {{ ruta.nombre }}</h3>
            <hr>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <form #f="ngForm" ngNativeValidate (ngSubmit)="guardar(f)">
                        <div class="form-group">
                            <label>Nombre de la ruta</label>
                        </div>
                        <div class="form-group">
                            <label>Codigo de la ruta</label>
                        </div>


                        <!-- <div class="form-group" *ngIf="ruta._id">
                            <label>Ruta</label>
                            <select (change)="cambiarRuta( $event.target.value )" [(ngModel)]="viaje.ruta" name="ruta" class="form-control selectpicker text-themecolor" data-live-search="true" required>
                                <option value="">Seleccione Ruta</option>
                                <option *ngFor="let ruta of rutas" [value]="ruta._id">
                                {{ ruta.origen.nombre }}:{{ruta.destino.nombre}}
                                </option>
                            </select>
                        </div> -->


                        <!-- <button *ngIf="ruta._id" type="submit" class="btn btn-outline-info btn-block waves-effect waves-light m-r-10">
                            <i class="fa fa-globe" aria-hidden="true"></i>
                            Actualizar y enviar
                          </button> -->
                        <a routerLink="/viajes" class="btn btn-outline-inverse btn-block waves-effect waves-light m-r-10">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-8" *ngIf="ruta._id">
        <agm-map [latitude]="lat" [longitude]="lng" zoom="12" maxZoom="21" minZoom="12" mapTypeControl="true" streetViewControl="false" keyboardShortcuts="false" disableDoubleClickZoom="true">

            <!-- Marcador para el origen [label]="label" -->
            <agm-marker [latitude]="ruta.origen.lat" [longitude]="ruta.origen.lng" iconUrl="assets/images/icon/origen.png" [visible]="ruta.visible" [label]="ruta.origen.nombre">
                <agm-info-window [disableAutoPan]="false">
                    <div class="card text-center">
                        <div class="card-header">
                            {{ruta.origen.direccion}}
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Origen : {{ruta.origen.nombre}}</h5>
                            <h5 class="card-title">{{ruta.nombre}}</h5>
                            <!--<p class="card-text">ruta info</p>-->
                            <!--<button (click)="borrar()" class="pointer-cursor btn btn-outline-danger btn-block">
                                      Borrar
                            </button>-->
                        </div>
                        <div class="card-footer bg-transparent border-success">
                            <h4>{{ruta.codigo}}</h4>
                        </div>
                    </div>
                </agm-info-window>
            </agm-marker>

            <!-- Marcador para el destino [label]="label" -->
            <agm-marker [latitude]="ruta.destino.lat" [longitude]="ruta.destino.lng" iconUrl="assets/images/icon/destino.png" [visible]="ruta.visible" [label]="ruta.destino.nombre">
                <agm-info-window [disableAutoPan]="false">
                    <div class="card text-center">
                        <div class="card-header">
                            {{ruta.destino.direccion}}
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Destino : {{ruta.destino.nombre}}</h5>
                            <h5 class="card-title">{{ruta.nombre}}</h5>
                            <!--<p class="card-text">ruta info</p>-->
                            <!--<button (click)="borrar()" class="pointer-cursor btn btn-outline-danger btn-block">
                                      Borrar
                              </button>-->
                        </div>
                        <div class="card-footer bg-transparent border-success">
                            <h4>{{ruta.codigo}}</h4>
                        </div>
                    </div>
                </agm-info-window>
            </agm-marker>
            <!-- [markerOptions]="markerOptions"  -->
            <agm-direction [origin]="ruta.origen" [destination]="ruta.destino" [waypoints]="ruta.puntosRef" [visible]="ruta.visible" [renderOptions]="renderOptions">
            </agm-direction>
        </agm-map>
    </div>
</div>