<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<!-- <div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Lista de operarios disponibles para despachar</h4>
                <h6 class="card-subtitle">la lista contiene solo vehiculos que no esten ruta</h6>
                <div class="row m-t-40">
                    <div class="col-md-6 col-lg-3 col-xlg-3">
                        <div class="card">
                            <div class="box bg-info text-center">
                                <h1 class="font-light text-white">2,064</h1>
                                <h6 class="text-white">Total despachos</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 col-xlg-3">
                        <div class="card">
                            <div class="box bg-primary text-center">
                                <h1 class="font-light text-white">1,738</h1>
                                <h6 class="text-white">Disponibles</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 col-xlg-3">
                        <div class="card">
                            <div class="box bg-success text-center">
                                <h1 class="font-light text-white">1100</h1>
                                <h6 class="text-white">Resueltos</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 col-xlg-3">
                        <div class="card">
                            <div class="box bg-dark text-center">
                                <h1 class="font-light text-white">964</h1>
                                <h6 class="text-white">Pendientes</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->



<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input #input (keyup)="buscar( input.value )" type="text" class="form-control" placeholder="Buscar por operario o vehiculo...">

            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="cargando">

    <div class="col-sm-12">

        <div class="alert alert-warning text-center">
            <strong>Cargando</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br>
            <span>Espere por favor</span>
        </div>
    </div>
</div>


<div class="row" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>posicion</th>
                            <th>Foto</th>
                            <th>Operario</th>
                            <th>Vehiculo</th>
                            <th>Estado</th>
                            <th>Cargar Ruta</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let asignacion of asignaciones;let posicion = index">
                            <td *ngIf="asignacion.disponible">
                                {{posicion + 1}}
                            </td>
                            <td *ngIf="asignacion.disponible">
                                <img [src]="asignacion.operario.img | imagen:'operario'" class="img-50 pointer">
                            </td>
                            <td *ngIf="asignacion.disponible">
                                {{ asignacion.operario.nombre }}
                            </td>
                            <td *ngIf="asignacion.disponible">
                                {{ asignacion.vehiculo.interno }}-{{ asignacion.vehiculo.placa }} 
                            </td>
                            <td *ngIf="asignacion.disponible">
                                Disponible
                            </td>
                            <td *ngIf="asignacion.disponible">
                                <button [routerLink]="['/viaje', asignacion._id ]" class="btn btn-primary btn-block">
                                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>