<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor"> {{ label }}</h3>
    </div>

    <div class="col-md-7 align-self-center">
        <div *ngIf="socketIoService.server.online" class="col-md-4 btn btn-success">
            <i class="fa fa-check-circle fa-2x pull-left"></i> En linea
        </div>
        <div *ngIf="!socketIoService.server.online" class="col-md-4 btn btn-danger">
            <i class="fa fa-times-circle fa-2x pull-left"></i> Desconectado
        </div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="javascript:void(0)">Inicio</a>
            </li>
            <li class="breadcrumb-item">pagina</li>
            <li class="breadcrumb-item active"> {{ label }}</li>
        </ol>
    </div>

</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->